* {
    box-sizing: border-box;
}
body {
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: system-ui;
    color: seashell;
}
table {
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    border-collapse: collapse;
    width: 70%;
}
header input {
    padding: 10px;
    margin: 20px 0 20px 20px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.1   );
    color: seashell;
}
th {
    padding: 10px;
    font-size: 25px;
}
td {
    padding: 5px;
    text-align: center;
}

main button {
    background-color: rgba(255, 255, 255, 0.1   );
}
main button a {
    text-decoration: none;
    color: seashell;

}